<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Tilt+Neon&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="nav">
        <img src="/images/ClubX.png" alt="icon">
        <div class="navigate"></div>

        <div><a href="clubs2.html">Home</a></div>
        <div><a href="https://vitchennaievents.com/conf1/">Events</a></div>
        <div><a href="https://docs.google.com/forms/u/0/">Recruitment</a>
        </div>
        <!-- <div><a href="#members">Members</a></div> -->
        <div><a href="/clubs" >Clubs</a>
        </div>
        <div><a href="news.html">News</a></div>
        <div class="register"><%= naming %></div>
    </nav>
    <main class="main">
        <img src="/images/bg.png" alt="Home page Image">
        <div class="main-info">
            <h1>Club House VIT Chennai </h1>
            <p>
                Are you passionate about art, science, music, sports, debate, or anything in between? Club X is here to
                cater to your interests. Our site serves as a centralized space where each college club can showcase
                their activities,events, and achievements. Whether you're a curious freshman looking for the perfect
                extracurricular match or a dedicated senior wanting to stay updated on campus happenings, Club X has
                something for everyone.
                <button>Explore</button>
                <button>Events</button>
            </p>


        </div>
    </main>

    <div class="page2">
        <img src="/images/design.png" alt="" class="design">
        <img src="/images/discover.png" alt="Discover the culture" class="discover">
        <!-- imageScroller.ejs -->
        <!-- <div class="image-scroller-container">
            <div class="image-scroller">
                <img src="/home/image1.jpg" alt="Image 1">
                <img src="/home/image2.jpg" alt="Image 2">
                <img src="/home/image3.jpg" alt="Image 2">
                <img src="/home/image4.jpg" alt="Image 2">
                <img src="/home/image5.jpg" alt="Image 2">
                <img src="/home/image6.jpg" alt="Image 2">
            </div>
        
        </div> -->
    </div>
    <div class="page3">
        <img src="/images/technical.png" alt="">
        <img src="/images/nontechnical.png" alt="">
        <img src="/images/chapter.png" alt="">
        <img src="/images/design2.png" alt="">
        <div class="join">
            <button> Explore <a href="/clubs"></a></button>
            <button> Join A Club</button>

            
        </div>


    </div>
    <footer>
        <p>Designed And Developed by Priyam & Shashwat &copy</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
        integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
        integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/script/script.js">

    </script>

</body>

</html>